[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.28"
pillow = "*"
factory-boy = "*"
django-tables2 = "*"
django-filter = "*"
weasyprint = "*"
djangorestframework = "*"
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
psycopg2 = "*"
whitenoise = "*"
django-environ = "*"
gunicorn = "*"
cloudinary = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
