{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <style>
.card {
        border: none;
    }

i{
    color: black;
}


</style>
    <div class="container mt-5">
    {% if suggestions %}
    <h5 class="text-center">Based on your preferences and other customers with similar taste, we think you will enjoy these sake!</h5>



            <div class="card mt-5">
    {% for suggestion in suggestions %}
        <div class="row">
        <div class="col-4">
            {% thumbnail suggestion.first_image.image "300x300" as im %}
            <img src="{{ im.url}}"/>
            {% endthumbnail %}
        </div>
        <div class="col-8">
            <table>
                <tr>
                   <h4> {{ suggestion.name }}</h4>
                </tr>
                <tr>
                    <p> <small>{{ suggestion.volume }} ml </small></p>
                </tr>
                <tr>
                    <p> <small>Grade: {{ suggestion.get_sake_type_display }}</small></p>
                </tr>
                <tr>
                   <p> Rating:</p>
                </tr>

                <tr>
                    <h5>$ {{ suggestion.price }}</h5>
                </tr>
                <tr>
                    <p><small>Tags: {{ suggestion.tags.all|join:", "|default:"" }}</small></p>
                </tr>
                <tr>

                    <a class="btn btn-outline-danger " href="{% url "product" suggestion.slug %}">Check it out</a>


                </tr>

            </table>

        </div>
        </div>
        <hr>
    {% endfor %}

        </div>
            </div>

        <div class="row justify-content-center mt-5">
    <nav class="" id="pager">

        <ul class="pagination ">
            {% if suggestions.has_previous %}
                <li class="">
                    <a class="" href="?page={{ suggestions.previous_page_number }}">
                        <i class="fas fa-chevron-left  mr-3 fa-2x"></i>

                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="" href="#"><i class="fas fa-chevron-left  mr-3 fa-2x"></i></a>
                </li>
            {% endif %}
            {% for pagenum in suggestions.paginator.page_range %}
                <li class=" page-item{% if suggestions.number == pagenum %} active text-white{% endif %}">
                    <a class="page-link {% if suggestions.number == pagenum %}bg-dark {% else %}text-dark{% endif %}" href="?page={{ pagenum }}">{{ pagenum }} </a>
                </li>
            {% endfor %}
        {% if suggestions.has_next %}
            <li class="page-item">
            <a class="" href="?page={{ suggestions.next_page_number }}">
                <i class="fas fa-chevron-right  ml-3 fa-2x"></i>
            </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="" href="#"><i class="fas fa-chevron-right  ml-3 fa-2x"></i></a>
            </li>
        {% endif %}
        </ul>
    </nav>
        </div>
{% else %}
        <div class="text-center">
<h2>No suggestions available yet. Please review more sake so we can give you suggestions!</h2>
        </div>
{% endif %}
{% endblock %}