{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<br>
<div class="container">
<div class="row">
    <div class="col-3">
        <div class="card card-body">
            <a class="btn btn-danger" href="{% url 'user_profile' pk=request.user.id %}">Back to profile</a>
            <hr>
            <h3 class="text-center">Account Settings</h3>
            <hr>
            {% if request.user.userprofile.profile_image %}
                            <img class="rounded-circle" src="{{ request.user.userprofile.profile_image.url }}" height="200" width="200"  />
                                    {% else %}
                                   <img class="rounded-circle" src="{% static 'images/masu_profile.jpg' %}" height="200" width="200" />
                                    {% endif %}
        </div>
    </div>

    <div class="col-9">
        <div class="card card-body">

            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ userform.as_p }}
                {{ userprofileform.as_p }}
                <input class="btn btn-danger" type="submit" value="submit" name="Update Info">
            </form>

        </div>
    </div>
</div>
</div>

{% endblock %}