{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <h1>Products</h1>
    <table class="table">
        <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>Image</th>

            <td>

 {% thumbnail object.first_image.image "150x150"  as im %}
     <img  id="image" src="{{ object.first_image.image.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}


            </td>

        </tr>
        <tr>
            <th>Price</th>
            <td>{{ object.price }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ object.description|linebreaks }}</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>{{ object.tags.all|join:","|default:"No tags available" }}</td>
        </tr>
        <tr>
            <th>In stock</th>
            <td>{{ object.in_stock|yesno|capfirst }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ object.date_updated|date:"F Y" }}</td>
        </tr>
    </table>
    <a href="{% url "add-to-cart" %}?product_id={{ object.id }}"> Add to basket
</a>

{% endblock %}
