{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-3">
 <div  id="imagebox">
                    Loading image...

        </div>

    </div>
     <div class="col-9">
         <div class="row">
        <b> <h1><b>{{ product.name }}</b></h1></b>
             </div>
         <div class="row">
         <p>Rating:
             {% if product.average_rating  %}
             {{ product.average_rating }} out of 5 ({{ product.review_amount }} Reviews)
                 <small><a href="{% url 'add_review' product.slug  %}">Write a review!</a></small>
             {% else %}
                 <small>No reviews yet! <a href="{% url 'add_review' product.slug  %}">Would you like to write the first review?</a> </small>
             {% endif %}
         </p>&nbsp;

             </div>
         <div class="row">
         <p>{{ product.description }}</p>
             </div>
         <div class="row">
         <h4> ${{ product.price }}</h4>
             </div>
         <div class="row">
         <p> Quantity: </p>
             </div>
         <a class="btn btn-outline-danger btn-lg" href="{% url "add-to-cart" %}?product={{ object.id }}"> Add to Cart</a>



    </div>
    </div>


    </div>

<div class="container mt-5">
    <h3>Product Information</h3>
    <table class="table">
        <tr>
            <th>Brewer</th>
            <td><a href="#">{{ product.brewery }}</a></td>
        </tr>
        <tr>
            <th>Prefecture</th>
            <td>{{ product.brewery.prefecture }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ product.get_sake_type_display }}</td>
        </tr>
        <tr>


        </tr>
        <tr>
            <th>Volume</th>
            <td>{{ product.volume }} ml</td>
        </tr>
        <tr>
            <th>Alcohol Percentage</th>
            <td>% {{ product.abv }}</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>{{ object.tags.all|join:", "|default:"" }}</td>
        </tr>
        <tr>
            <th>In stock</th>
            <td>{{ object.in_stock|yesno|capfirst }}</td>
        </tr>

    </table>
    </div>


{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/react@16/umd/react.production.min.js">
    </script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js">
    </script>

    <style type="text/css" media="screen"> .image {

        margin: 0px;
        justify-content: center;
        display: inline-block;
    }
    </style>


    <script>
        const e = React.createElement;

        class ImageBox extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    currentImage: this.props.imageStart
                }
            }

            click(image) {
                this.setState({
                    currentImage: image
                });
            }

            render() {
                const images = this.props.images.map((i) =>
                    e('div', {className: "image", key: i.id}, e('img', {
                            onClick: this.click.bind(this, i),
                            width: "75",
                            src: i.thumbnail
                        }),
                    ),
                );
                return e('div', {className: "gallery"}, e('div', {className: "current-image"},
                    e('img', {src: this.state.currentImage.image})
                ), images)
            }
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            var images = [
                {% for image in object.image_all %}
                {% thumbnail image.image "300x300" as im %}
                    {
                        "image": "{{ im.url |safe }}",
                        "thumbnail": "{{ im.url|safe }}"
                    },
                    {% endthumbnail %}
                {% endfor %}

            ]
            ReactDOM.render(
                e(ImageBox, {images: images, imageStart: images[0]}),
                document.getElementById('imagebox')
            );
        });

    </script>
{% endblock extra_js %}
