{% extends 'base.html' %}
{% block content %}

<style>
    .card {
        border: none;
    }


i{
    color: black;
}


</style>
<h1 class="text-center">Products</h1>
    <div class="container mt-5">

    <div class="row ml-5 mb-5">

        Sort by: &nbsp;<a href="{% url 'product-list' 'name'%}">Name</a> &nbsp;| &nbsp;
        <a href="{% url 'product-list' 'price'%}">Price</a> &nbsp;| &nbsp;
        <a href="{% url 'product-list' 'units_sold'%}"> Popularity</a>
    </div>
<div class="card">
    {% for product in object_list  %}
        <div class="row">
        <div class="col-4">

        <img src="{{ product.first_image.image.url }}" height="400" width="300"/>
        </div>
        <div class="col-8">
            <table>
                <tr>
                   <h4> {{ product.name }}</h4>
                </tr>
                <tr>
                    <p> <small>{{ product.volume }} ml </small></p>
                </tr>
                <tr>
                    <p> <small>Grade: {{ product.get_sake_type_display }}</small></p>
                </tr>
                <tr>
                   <p> Rating:</p>
                </tr>

                <tr>
                    <h5>$ {{ product.price }}</h5>
                </tr>
                <tr>
                    <p><small>Tags: {{ product.tags.all|join:", "|default:"" }}</small></p>
                </tr>
                <tr>

                    <a class="btn btn-outline-danger " href="{% url "product" product.slug %}">Check it out</a>


                </tr>

            </table>

        </div>


</div>

        {% if not forloop.last %}
            <hr/>
        {% endif %}


    {% endfor %}

    </div>
</div>

        <div class="row justify-content-center mt-5">
    <nav class="" id="pager">
        <ul class="pagination ">
            {% if page_obj.has_previous %}
                <li class="">
                    <a class="" href="?page={{ page_obj.previous_page_number }}">
                        <i class="fas fa-chevron-left  mr-3 fa-2x"></i>

                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="" href="#"><i class="fas fa-chevron-left  mr-3 fa-2x"></i></a>
                </li>
            {% endif %}
            {% for pagenum in page_obj.paginator.page_range %}
                <li class=" page-item{% if page_obj.number == pagenum %} active text-white{% endif %}">
                    <a class="page-link {% if page_obj.number == pagenum %}bg-dark {% else %}text-dark{% endif %}" href="?page={{ pagenum }}">{{ pagenum }} </a>
                </li>
            {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
            <a class="" href="?page={{ page_obj.next_page_number }}">
                <i class="fas fa-chevron-right  ml-3 fa-2x"></i>
            </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="" href="#"><i class="fas fa-chevron-right  ml-3 fa-2x"></i></a>
            </li>
        {% endif %}
        </ul>
    </nav>
        </div>




{% endblock %}