{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <style>
    .card {
        min-height: 100vh;
    }

</style>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card my-5 rounded">
          <div class="row justify-content-center mt-4">

          {% if request.user.userprofile.profile_image.exists %}
<img class="rounded-circle" src="{{ request.user.userprofile.profile_image.url }}" height="250" width="250" />


                                    {% else %}
                                   <img class="rounded-circle" src="{% static 'images/masu_profile.jpg' %}" height="250" width="250" />
                                    {% endif %}
          </div>
        <div class="card-body text-center">
            <h3>{{ userprofile.user.username }}</h3>
            <u>Reviews</u>
        <ul class="list-group" style="list-style-type: none">
            {% for review in userprofile.reviews.all %}
                <li>
            <small><a href="#">{{ review.sake }}</a></small>
                </li>
            {% endfor %}
        </ul>

          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}