<footer>
    <hr/>
    <div class="container-fluid">
        <div class="row justify-content-center col-12 col-lg-12">

                <ul class="list-inline ">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/berlian-khatulistiwa-8bb420111/">
                        <span style="color: black;"><i class="fab fa-linkedin fa-lg  fa-2x"> </i> </span></a></li>
                    <li class="list-inline-item"><a href="https://github.com/berlink2/"><span style="color: black;"><i
                            class="fab fa-github fa-lg  fa-2x"></i></span></a></li>
                    <li class="list-inline-item"><a class="text-danger" href="{% url 'contact-us' %}"><b>Contact us</b></a>
                    </li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/basicallybearlion/"><span
                            style="color: black;"><i class="fab fa-instagram fa-lg  fa-2x"></i></span></a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><span
                            style="color: black;"> <i class="fab fa-youtube fa-lg  fa-2x"></i></span></a></li>
                </ul>
            </div>
        <div class="row justify-content-center col-12">© 2020 Designed and
            Developed by &nbsp;<a class="text-danger" href="https://berlink2.github.io/Resume/">Berlian Khatulistiwa</a>
        </div>
    </div>
    </footer>
