{% extends 'base.html' %}

{% block extra_head %}
    <style>
    .jumbotron-fluid {
        background-image: url("../static/images/header.jpg");
        height: 65vh;
        min-height: 350px;
        -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
   #jumbo-text h1 {
       font-family: Baskerville;
       text-shadow: 1px 1px 10px black;
   }
    </style>
{% endblock extra_head %}

{% block content %}

   <div class="jumbotron-fluid  text-center pt-5 text-white bg-image">

        <div id='jumbo-text' class="pt-5 mt-5">
            <h1 class="display-3"><strong>Your one stop shop for Sake!</strong></h1>
        <a href="{% url 'product-list' 'all' %}" class="btn btn-danger btn-lg text-white mt-3">Start Shopping</a>
      </div>
   </div>




{% endblock content %}