{% extends 'base.html' %}
{% load thumbnail %}
{% block extra_head %}
    <style>
    .jumbotron-fluid {
        background-image: url("../static/images/header.jpg");
        height: 65vh;
        min-height: 350px;
        -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
   #jumbo-text h1 {
       font-family: Baskerville;
       text-shadow: 1px 1px 10px black;
   }
    </style>
{% endblock extra_head %}

{% block content %}
<div>
   <div class="jumbotron-fluid  text-center pt-5 text-white bg-image">

        <div id='jumbo-text' class="pt-5 mt-5">
            <h1 class="display-3"><strong>Your one stop shop for Sake!</strong></h1>
        <a href="{% url 'product-list' 'all' %}" class="btn btn-danger btn-lg text-white mt-3">Start Shopping</a>
      </div>
   </div>

</div>

    <div class="container mt-5">
    <div class="row">
    </div>
    <div class="row text-center">
    <div class="col-6">

        <h4>Brewery of the Month</h4>
        <p class="mt-3">
            {% thumbnail best_brewery.image '200x200' as im%}
            <img src="{{ im.url }}">
            {% endthumbnail %}
        </p>
    <p>
        <a href="{% url 'brewery' brewery_slug=best_brewery.slug %}"> {{ best_brewery.name }}</a>
    </p>
    </div>
    <div class="col-6">
        <h4>Sake of the Month</h4>
        <p class="mt-3">
            {% thumbnail best_product.first_image.image '200x200' as im%}
            <img src="{{ im.url }}">
            {% endthumbnail %}
        </p>
    <p>
        <a href="{{ best_product.get_absolute_url }}"> {{ best_product.name }}</a>
    </p>
    </div>
        </div>

    <div class="row text-center mt-5">
        <div class="col-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BFR7GeAp6YU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    </div>




{% endblock content %}